body {
    background-color: #151515;
    margin: 0;
    height: 300vh;
}

.topbar {
    display: grid;
    grid-template-columns: auto 900px auto auto;
}

.sign-in-btn {
    grid-column: 3/3;
}

.log-in-btn, .sign-in-btn {
    margin-left: 10px;
}

.sidebarbtn, .sign-in-btn, .log-in-btn {
    background-color: #191919;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    z-index: 1;
}

.sidebar {
    position: relative;
    display: inline-block;
    width: 0px;
}

.sidebar-content {
    display: none;
    position: fixed;
    background-color: #444444;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    top: 0;
    height: 100vh;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar-content a {
    color: white;
    padding: 12px 16px;
    display: block;
}

.sidebar:hover .sidebar-content {
    display: grid;
    animation-name: slide;
    animation-duration: 1s;
    grid-template-rows: 50px 50px 50px 50px;
}

@keyframes slide {
    from {width: 0px;}
    to {width: 300px;}
}

.sidebarbtn:hover, .sign-in-btn:hover, .log-in-btn:hover {
    background-color: #353535
}

.sidebar-content a:hover {
    background-color: #4f4f4f;
}

.topbar:hover ~ * {
    opacity: 0.5;
}

.hook-container {
    background-color: #2f2f2f;
    position: relative;
    padding: 18rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}

* :not(h1) {
    transition: opacity 1s ease;
}

.hook {
    color: white;
    font-size: 10vh;
    position: fixed;
    text-align: center;
    z-index: 1;
}

.text-block {
    z-index: 2;
    background-color: #151515;
    color: white;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 20px;
    padding: 30px;
}

