<!DOCTYPE html>

<html>
    <head>
        <title>Netflix</title>
        <link href="/static/styles.css" rel="stylesheet">
        <script src="/static/script.js"></script>
    </head>
    <body>
        <div class="topbar">
            <div class="sidebar">
                <button class = sidebarbtn>Menu</button>
                <div class="sidebar-content">
                    <a>Homepage</a>
                    <a>Subscription Plans</a>
                    <a>Trending</a>
                    <a>Most Popular</a>
                </div>
            </div>
        </div>
        <div class="hook-container">
            <h1 class="hook">Watch Now!</h1>
        </div>
    </body>
</html>