<!DOCTYPE html>

<html>
    <head>
        <title>Netflix</title>
        <link href="/static/styles.css" rel="stylesheet">
        <script src="/static/script.js"></script>
    </head>
    <body>
        <div class="topbar">
            <div class="sidebar">
                <button class = sidebarbtn>Menu</button>
                <div class="sidebar-content">
                    <a>Homepage</a>
                    <a>Subscription Plans</a>
                    <a>Trending</a>
                    <a>Most Popular</a>
                    <a>New</a>
                </div>
            </div>
            <button class="sign-in-btn">Sign-in</button>
            <button class="log-in-btn">Log-in</button>
        </div>
        <div class="hook-container">
            <h1 class="hook">Watch Now!</h1>
        </div>
        <div class="text-block">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse necessitatibus earum repellat ad eligendi, delectus nisi omnis dignissimos fugit a quisquam iure reiciendis fugiat quas sequi fuga maiores qui ab laudantium nam facere non. Deserunt similique harum quasi consectetur eligendi aut libero, sunt numquam, nam officia in atque hic adipisci ea. Ea excepturi incidunt aspernatur eveniet, voluptatem autem quis repellendus architecto, in omnis corporis sunt officiis. Nobis sequi nihil voluptatem illum similique. Obcaecati ipsa cum veritatis explicabo amet repudiandae perferendis illum illo dicta iure, assumenda dolor eveniet neque officiis eligendi adipisci velit quasi nihil consectetur excepturi molestias consequuntur exercitationem aperiam?
            </p>
        </div>
        <div class="footer">
            <p>By: Max Yang</p>
            <p>Email: Max.Yang342@gmail.com</p>
            <p>Phone: 647-996-7896</p>
        </div>
    </body>
</html>